<footer>
    <div class="container">
        <p class="m-0 small white-txt">Copyright &copy; <%= title %>, Vanesa Molina | 2023</p>
    </div>
</footer>

<!-- Bootstrap JavaScript -->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>